@page "/auction/{id:int}"
@inject IAuctionsService AuctionService

<div style="color: #fff;">
    
    <h3>Auction Details</h3>

    @if (auction != null)
    {
        <div>
            <h4>Auction ID: @auction.Id</h4>
            <p>Description: @auction.Descricao</p>
            <p>Start Date: @auction.DataInicio</p>
            <p>Duration: @auction.Duracao hours</p>
            <p>Initial Price: @auction.PrecoInicial</p>
            <p>Immediate Purchase Price: @auction.PrecoCompraImediata</p>
            <p>Seller: @auction.VendedorId</p>

        
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private LeilaoDetailsDTO auction;

    protected override async Task OnInitializedAsync()
    {
        auction = await AuctionService.GetAuctionById(Id);
    }
}
